.css-1tq5y1d {
  -webkit-background-clip: text !important;
  -webkit-text-stroke: 4px transparent;
}

.css-wubsqh:nth-child(1) {
  margin: 0 !important;
}

.ant-modal-body input {
  background-color: #fcfdff !important;
  border-color: #c0f !important;
  color: #c0f;
}
