:root {
  --primary: #00bafc;
  --text: #05101d;
  --body: #f4f8fc;
  --sub-text: #9b9fa5;
  --border: #e6e7e8;
  --border2: #ced2da;
  --border-hover: #bad5f9;
  --secondary: #66718e;
  --headerIcon: #506277;
  --pink: #f71b9f;
  --icon: #b9becb;
  --softgreen: #a8dfc8;
  --blue: #4fb2ff;
  --gray: #9b9fa5;
  --footer-text: #222b38;
  --white: #fff;
  --footer-bg: #0f172a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

:where(.css-dev-only-do-not-override-i0102m).ant-modal .ant-modal-content {
  padding: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 80px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #fff;
  height: 80px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c200fe;
}

.ant-modal-mask {
  background-color: rgba(5, 16, 29, 0.8) !important;
}
.ant-modal .ant-modal-close {
  top: -25px;
  right: -35px;
  color: #fff;
  transform: scale(1.8);
}
.ant-modal .ant-modal-close:hover {
  color: #fff;
  opacity: 0.7;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  color: #05101d;
  font-weight: 600;
}

:where(.css-dev-only-do-not-override-1me4733).ant-collapse {
  margin: 15px 0;
  background: #f5f8fc;
}

.about-text {
  white-space: normal;
  overflow: hidden;
  font-size: 20px;
  line-height: 30px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-weight: 400;
}
